@page "/"

<h1 class="page-title">Welcome to the Buidling Appliaction!</h1>
<br />
<h4>Using this application, you have access to manage your building.</h4>

<br />

@inject TokenProvider _tokenProvider



<AuthorizeView>
    <Authorized>
        <form action="/account/signout" method="post">
            <button class="submit-button" type="submit">
                 Log out (@context.User.Identity.Name)
            </button>
            <input name="__RequestVerificationToken" type="hidden"
                   value="@_tokenProvider.XsrfToken">
        </form>
    </Authorized>
    <NotAuthorized>
        <button @onclick="NavigateToLogin">Click here to log in</button>
        <br />
        <button @onclick="NavigateToRegister">Click here to register</button>
    </NotAuthorized>
</AuthorizeView>