
@if (Result != null)
{
    <div class="row">
        <div class="col-md-12 col-sm-12">
            @if (Result.PageCount > 1)
            {
                <ul class="pagination text-center">
                    <li><button type="button" @onclick="() => PagerButtonClicked(1)" class="btn shadow-none">&laquo;</button></li>
                    @{int currentIndex = 0;}
                    @for (var i = StartIndex; i <= FinishIndex; i++)
                    {
                        currentIndex = i;
                        @if (i == Result.PageNumber)
                        {
                            <li><span class="btn btn-primary">@i</span></li>
                        }
                        else
                        {
                            <li><button type="button" @onclick="() => PagerButtonClicked(currentIndex)" class="btn shadow-none">@i</button></li>
                        }
                    }
                    <li><button type="button" @onclick="() => PagerButtonClicked(currentIndex)" class="btn shadow-none">&raquo;</button></li>
                </ul>
            }
        </div>
    </div>
}